
header {
    background-color: black;
    height: 50px;
    width: 99%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}
.menu span {
    padding: 10px;
    font-size: 20px;
}
#logo {
    padding: 10px;
    font-size: 30px;
}
#first-block {
    position: absolute;
    left: 0;
    top: 60px;
    margin-bottom: 30px;
}
#first-image {
    width: 1510px;
    height: 800px;
}
#titre {
    position: absolute;
    top: 200px;
    left: 600px;
    color: white;
    text-align: center;
    line-height: 150%;
}
#text {
    position: absolute;
    top: 300px;
    left: 500px;
    color: white;
    width: 500px;
    text-align: justify;
    line-height: 200%;
}
#bouton {
    position: absolute;
    top: 450px;
    left: 640px;
    width: 180px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    font-size: 20px;
}
.info {
    margin-top: 20px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block-info {
    height: 150px;
    width: 500px;
    margin: auto;
    font-size: 120%;
    text-align: center;
    line-height: 120%;
}
#second-image {
    width: 1510px;
    height: 600px;
    margin-bottom: 0%;
}